.sett_total{

	padding-left: .3rem;

	font-size: .28rem;

	display: flex;

	flex:1;

	strong{

		color:#f65253;

	}

}

.sett_computed{

	height: 1.02rem;

	width: 2.5rem;

	display:flex;

	align-items: center;

	justify-content: center;

	background: #ff3c3c;

	span{

		font-size: .38rem;

		color: #fff;

	}

}

.settlement{

	height: 1.02rem;

	display:flex;

	align-items: center;

	background: #fff;

}

.sett_item{

	flex:1;

	display: flex;

	padding-left: .3rem;

	height: 1.02rem;

	align-items: center;

	justify-content: space-between;

	border-top: .01rem solid #d6d6d6;

	i{

		font-size: .28rem;

		color: #252525;

	}
}

.sett_item_select{

	height: 1.02rem;

	display: flex;

	padding-right: .4rem;

	align-items: center;

}
